.banksy-img {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banksy {
  padding: 10px;
}

.Levalet-img {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Levalet {
  padding: 10px;
}

.Mto-img {
  padding-left: 60px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Mto {
  padding: 10px;
}

.social-container{
  height: 10%;
  margin-bottom: -263px;
}
