* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
body {
  background-image: url(/src/image/street-art.jpg);
  background-size: 950px;
  background-repeat: no-repeat;
  background-color: grey;
  background-position-x: right;
  background-position: center;
  background-position-y: 140px;
}
.App {
  display: flex;
  flex-direction: column;
}




.Présentation {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Présentation h1 {
  color: darkred;
  text-align: center;
}
.Présentation p {
  margin-top: 40px;
  text-align: center;
}

@media screen and (min-width:767px) {
  body {
    background-size: 1670px;
    background-position-y: 220px;
    background-position-x: -250px;
  }



}
*/

body {
  background-image: url(/src/image/street-art.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: grey;
  background-position-x: -350px;
  /* background-position-x: right;
  background-position: center;
  background-position-y: 140px;  */
} 
.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}