.contact {
  max-width: 500px;
  margin: 100px auto;
  margin-top: 130px;
  color: aliceblue;
}

.contact h1 {
  font-size: 20px;
  padding-left: 50px;
  color: darkred;
  background: darkgray;
  border-radius: 5px;
  border: 2px black solid;
  margin-top: -50px;
  margin-bottom: 50px;
}

.contact_form {
  /* width: 300px; */
  /* padding: 1rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  font-weight: bold;
  font-size: larger;
}

.contact_form input,
.contact_form textarera,
.contact_form button {
  margin: 0.3rem 0 1rem 0;
  padding: 0.3rem;
}
#name,
#email,
#message,
button {
  display: flex;
  flex-direction: column;
  /* width: 300px; */
}
.contact_form button {
  font-size: 1.2rem;
  margin-top: 35px;
  margin-bottom: -5px;
}

input,
textarea {
  width: 300px;
}

@media screen and (min-width: 767px) {
  input,
  textarea {
    width: 600px;
    height: 40px;
  }
  .contact {
    font-size: x-large;
  }
  .contact h1 {
    font-size: 35px;
    padding-left: 70px;
  }
}
