h2 {
  color: brown;
}

.Localisation {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carte {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 100px;
}

p {
  margin-top: 20px;
  margin-bottom: 10px;
}

/* footer {
  margin-top: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
} */

@media screen and (min-width:767px) {
  .Localisation .carte {
    display: flex;
    flex-direction: row;
     ;
    
    
  }



}