* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased; */
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-image: url(/src/image/street-art2.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

.App {
  text-align: center;
}

p {
  height: 800px;
  color: red;
}

/* liens reseaux sociaux */

.social-container {
  background: #eee;
  opacity: 0.6;
  position: absolute;
  bottom: -30;
  width: 100%;
  padding-top: 50px;
  height: 50px;
}


a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover {
  transform: translateY(-2px);
}

a.facebook {
  color: #4968ad;
}

a.twitter {
  color: #49a1eb;
}

a.instagram {
  color: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  /* -webkit-background-clip: text;
   -webkit-text-fill-color: transparent; */
  border-radius: 20px;
}
