* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.App {
  text-align: center;
}

body {
  text-align: center;
  background-image: url(/src/image/street-art.jpg);
  background-size: 280%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-color: rgb(200, 208, 211);
  opacity: 0.36px;
}

/* footer */
.social-container {
  /* background: #eee; */
  opacity: 0.6;
  position: fixed;
  bottom: 0;
  width: 100%;
}
/* logo reseau avec lien  */
a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}
a.social:hover {
  transform: translateY(-2px);
}
/* lien fb */
a.facebook {
  color: #4968ad;
}
/* lien twitter */
a.twitter {
  color: #49a1eb;
}
/* lien insta */
a.instagram {
  color: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  /* -webkit-background-clip: text;
   -webkit-text-fill-color: transparent; */
  border-radius: 20px;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/*container home artiste*/
.containercard {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.containercard h1{
  margin-top: -65px;
 }
